/* proximanova */
@font-face {
    font-family: 'proximanovaregularwebfont';
    src: url('../fonts/proximanova/proximanovaregularwebfont.eot');
    src: url('../fonts/proximanova/proximanovaregularwebfont.eot') format('embedded-opentype'),
        url('../fonts/proximanova/proximanovaregularwebfont.woff2') format('woff2'),
        url('../fonts/proximanova/proximanovaregularwebfont.woff') format('woff'),
        url('../fonts/proximanova/proximanovaregularwebfont.ttf') format('truetype'),
        url('../fonts/proximanova/proximanovaregularwebfont.svg#proximanovaregularwebfont') format('svg');
}
@font-face {
    font-family: 'proximanovablackwebfont';
    src: url('../fonts/proximanova/proximanovablackwebfont.eot');
    src: url('../fonts/proximanova/proximanovablackwebfont.eot') format('embedded-opentype'),
        url('../fonts/proximanova/proximanovablackwebfont.woff2') format('woff2'),
        url('../fonts/proximanova/proximanovablackwebfont.woff') format('woff'),
        url('../fonts/proximanova/proximanovablackwebfont.ttf') format('truetype'),
        url('../fonts/proximanova/proximanovablackwebfont.svg#proximanovablackwebfont') format('svg');
}
@font-face {
    font-family: 'proximanovasemiboldwebfont';
    src: url('../fonts/proximanova/proximanovasemiboldwebfont.eot');
    src: url('../fonts/proximanova/proximanovasemiboldwebfont.eot') format('embedded-opentype'),
        url('../fonts/proximanova/proximanovasemiboldwebfont.woff2') format('woff2'),
        url('../fonts/proximanova/proximanovasemiboldwebfont.woff') format('woff'),
        url('../fonts/proximanova/proximanovasemiboldwebfont.ttf') format('truetype'),
        url('../fonts/proximanova/proximanovasemiboldwebfont.svg#proximanovasemiboldwebfont') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('../fonts/proximanova/ProximaNovaBlack.eot');
    src: url('../fonts/proximanova/ProximaNovaBlack.eot') format('embedded-opentype'),
         url('../fonts/proximanova/ProximaNovaBlack.woff2') format('woff2'),
         url('../fonts/proximanova/ProximaNovaBlack.woff') format('woff'),
         url('../fonts/proximanova/ProximaNovaBlack.ttf') format('truetype'),
         url('../fonts/proximanova/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg');
}



/* Railway fonts */
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway/Raleway-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Heavy';
  src: url('../fonts/Raleway/Raleway-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('../fonts/Raleway/Raleway-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}